{% extends "base.html" %} {% block title %} Single Player {% endblock %} {%
block style_script %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/game_compounds.css') }}"
/>
{% endblock %} {%block content %}
<h2>DRAW YOUR DESIRE MAP PLEASE</h2>
<button id="save_map">SAVE MAP</button>
<button id="back">HOME</button>
{% endblock %} {% block scripts %}
<script
    type="module"
    src="{{ url_for('static', filename='create_map.js') }}"
></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}
