<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home page</title>
    </head>
    <body>
        <h1>MOW_IT GAME</h1>
        <h2>Selection of game:</h2>
        <!-- <h2>{{player_id}}</h2> -->
        <button id="single_player">Single Player</button>
        <button id="multi_player">Multiplayer</button>
        <button id="versus_ai">VS. AI</button>
        <button id="map_creation">CREATE MAP</button>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <!-- <script>
            const playerId = "{{ player_id }}";
        </script> -->
    </body>
</html>
