{% extends "base.html" %} {% block title %} Multiplayer {% endblock %} {% block
style_script %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/game_compounds.css') }}"
/>
{% endblock %} {%block content %}
<div class="vertical">
    <div class="game-whole">
        <div id="player_container">
            <div class="player-info">
                <p>You:</p>
                <p id="p1_name">NIC</p>
            </div>
            <div class="player-info">
                <p>Score:</p>
                <p id="p1_score">NIC</p>
            </div>
            <div class="player-info">
                <p>Level:</p>
                <p id="p1_level">NIC</p>
            </div>
            <div id="grid-container-player">
                <div class="grid" id="p1_grid"></div>
            </div>
        </div>
        <div id="oponent_container">
            <div class="player-info">
                <p>Oponent:</p>
                <p id="p2_name">NIC</p>
            </div>
            <div class="player-info">
                <p>Score:</p>
                <p id="p2_score">NIC</p>
            </div>
            <div class="player-info">
                <p>Level:</p>
                <p id="p2_level">NIC</p>
            </div>
            <div id="grid-container-oponent">
                <div class="grid" id="p2_grid"></div>
            </div>
        </div>
    </div>
    <div class="vertical center">
        <h1>TBD</h1>
        <button id="back">BACK</button>
    </div>
</div>
<div id="player_modal" class="modal">
    <div class="modal-content" id="player_modal_content">
        <div id="player_modal_text" class="modal-text"></div>
    </div>
</div>
<div id="oponent_modal" class="modal">
    <div id="oponent_modal_text" class="modal-text"></div>
</div>
<div id="end_game_modal" class="modal">
    <div id="end_game_modal_text" class="modal-text">
        Game completed, buttons below:
    </div>
</div>
{% endblock %}{% block scripts %}

<script
    type="module"
    src="{{ url_for('static', filename='multiplayer.js') }}"
></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}
