<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SOLO</title>
    </head>
    <body>
        <script>
            const player_id = "{{player_id}}";
        </script>
        <h1>You choosed multiplayer...</h1>
        <h1>{{player_id}}</h1>
        <button id="create_game">Create game</button>
        <script src="{{ url_for('static', filename='multiplayer.js') }}"></script>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    </body>
</html>
