{% extends "base.html" %} {% block title %} Single Player {% endblock %} {%
block style_script %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/game_compounds.css') }}"
/>
{% endblock %} {%block content %}
<div class="vertical center">
    <h2>Create multiplayer game</h2>

    <div class="vertical center">
        <button class="menu-button" id="create_game">CREATE GAME</button>
        <button class="menu-button" id="back">HOME</button>
    </div>
</div>
{% endblock %} {% block scripts %}
<script
    type="module"
    src="{{ url_for('static', filename='multiplayer_create_game.js') }}"
></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}
