{% extends "base.html" %} {% block title %} Single Player {% endblock %} {%
block style_script %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/game_compounds.css') }}"
/>
{% endblock %} {%block content %}
<p id="p1_val">I like to mow'it mow'it!</p>
<div>SCORE:</div>
<div id="score_label">SCORE value</div>
<div class="grid" id="p_grid"></div>
<div>Level:</div>
<div id="level_label">LEVEL value</div>
<button id="game_info">INFO</button>
<button id="back">HOME</button>
<div id="my_modal" class="modal">
    <div class="modal-content">
        <h1 id="level_advance_label">Level completed</h1>
        <button id="advance_level">CONTINUE</button>
        <button id="restart_level">RESTART LEVEL</button>
        <button id="return_home">HOME BUTTON</button>
    </div>
</div>
{% endblock %} {% block scripts %}
<script
    type="module"
    src="{{ url_for('static', filename='single.js') }}"
></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}
