{% extends "base.html" %} {% block title %} Single Player {% endblock %} {%
block style_script %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/game_compounds.css') }}"
/>
{% endblock %} {%block content %}
<div class="vertical center">
    <div class="max_content" id="single_content">
        <p class="horizontal center" id="p1_val">I like to mow'it mow'it!</p>
        <div class="horizontal between">
            <div>SCORE:</div>
            <div id="score_label">SCORE value</div>
        </div>
        <div class="grid" id="p_grid"></div>
        <div class="horizontal between">
            <div>Level:</div>
            <div id="level_label">LEVEL value</div>
        </div>
        <div class="vertical center">
            <button id="game_info">INFO</button>
            <button id="back">HOME</button>
        </div>
        <div id="my_modal" class="modal">
            <div class="modal-content" id="my_modal_content">
                <h1 id="level_advance_label">Level completed</h1>
                <button id="advance_level">CONTINUE</button>
                <button id="restart_level">RESTART LEVEL</button>
                <button id="return_home">HOME BUTTON</button>
            </div>
        </div>
    </div>
    <div style="display: none">
        <div id="grass-block" class="grass-block">
            <!-- Front row (closest to the viewer) -->
            <div class="front-row">
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
            </div>

            <!-- Middle row -->
            <div class="middle-row">
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
                <div class="grass-blade"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script
    type="module"
    src="{{ url_for('static', filename='single_player.js') }}"
></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}
