<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SOLO</title>
    </head>
    <body>
        <h1>You choosed war against AI...</h1>
        <h1>Here will be your progress</h1>
        <h1>Under or next to it will be AI progress step by step</h1>
        <script src="{{ url_for('static', filename='versus_ai.js') }}"></script>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    </body>
</html>
